.footer
  - if user_signed_in?
    %a
    = link_to new_game_path do
      .sellingBtn
        %span.sellingBtn__text 試合申込
        %span.sellingBtn__ball
  - else 
    %a
    = link_to  new_user_session_path do
      .sellingBtn 
        %span.sellingBtn__text 試合申込
        %span.sellingBtn__ball