.header {
  padding: 0 0 15px;
  width: 100%;
  scroll-padding-top: 82px;
  margin: 0 auto;
  overflow: hidden;
  &__main-text{
    width: 100%;
    padding: 10px 10px;
    font-family: sans-serif;
    font-size: 20px;
    color:#ff3636;
    padding:8px 10px;
    border:#ff3636 2px;
    border-style: solid none;
    background: repeating-linear-gradient(
      45deg,
      #fff,
      #fff 3px,
      rgba(60, 179, 228, 0.1) 3px,
      rgba(60, 179, 228, 0.1) 6px,);
    margin-bottom: 10px;
  }

  .header__lists--right{
    padding: 0 60px 0;
    .header__right--btn {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #ff3636;/*ボタン色*/
      color: #FFF;
      border-bottom: solid 4px #f3adad;
      border-radius: 3px;
      margin-bottom: 10px;
    }
    .header__right--btn:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
    }
  }
  &__slide {
    .anime {
      width: 100%;
      .slick-track {
        height: 500px;
        width: 100%;
      }
    }
  }
}
