.header {
  padding: 15px 60px;
  max-width: 1160px;
  scroll-padding-top: 82px;
  margin: 0 auto;
  &__main-slide {
    .anime {
      width: 100%;
      .slick-track {
        height: 400px;
        width: 100%;
      }
    }
    &__main-header {
      height: 400px;
      &__main-slide {
        height: 400px;
      }
    }
  }
}
