.header {
  padding: 0 0 15px;
  width: 100%;
  scroll-padding-top: 82px;
  margin: 0 auto;
  &__main-text{
    height: 60px;
    padding: 15px 60px 15px;
    font-size: 20px;
    font-family: Impact;
  }
  .header__lists--right{
    padding: 0 60px 0;
    .header__right--btn {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      background: #ff3636;/*ボタン色*/
      color: #FFF;
      border-bottom: solid 4px #f3adad;
      border-radius: 3px;
      margin-bottom: 10px;
    }
    .header__right--btn:active {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);/*下に動く*/
      border-bottom: none;/*線を消す*/
    }
  }
  &__slide {
    .anime {
      width: 100%;
      .slick-track {
        height: 500px;
        width: 100%;
      }
    }
  }
}
